* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: Lavender;
}

/* Style the header */
header {
  background-color: powderblue;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.inputText{
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: DarkSalmon;
  padding: 20px;
}


article {
  float: left;
  padding: 20px;
  width: 70%;
  background: linen;
  height: 300px; /* only for demonstration, should be removed */
}

.button1div {
       padding-top : 10px;
}

.button1 {
    border-radius: 10px;
    color: white;
    background: CadetBlue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: DarkCyan;
  padding: 10px;
  text-align: center;
  color: white;
  height: 100px;
}

/* Responsive layout - makes the two columns/boxes stack on
 top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}