<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
  <title>BioInformatics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

 <script th:inline="javascript">	
	function getCompoundDatabaseToAdd()
	{ 
		location.assign("/addcompound?add");
	}
	 
	function getCompoundDatabaseToDelete()
	{ 
		location.assign("/deletecompound?delete");
	}
	
	function selectCompoundToDelete(val)
	{ 
		location.assign("/deletecompound?delete=".concat(val));   
	}
	
	function selectCompoundToDeleteBySearch() 
	{ 
		
		var search_value = document.getElementById("search").value;
		
		location.assign("/deletecompound?delete=".concat(search_value));		
	}
	
	function sendToBackEndToDeleteACompound()
	{ 
		var compound_for_deletion = document.getElementById("BiggMetaboliteID").value;
		//
		if (compound_for_deletion === "")
		{
			alert("Please Select A Compound To Delete");
		}
		else
		{			 
			$.post("/deletecompound", {compound_to_delete: compound_for_deletion})
			 location.assign("/deletecompound?delete");
		   
		}  
	}
</script>

<style>
  #compound_add_one, #compound_add_two 
  {
    font: 400 20px Lato, sans-serif;
    text-align: left;
    line-height: 1.8;
    color: red;
  }
  
  #compound_label 
  {
  	font: 400 20px Lato, sans-serif;
    width: 500px !important;
  }
  
  #select_delete_compounds_dropdown
  {
    width: 500px !important;
  }
</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> </div>
    <ul class="nav navbar-nav navbar-right">
 		<li><a href="#home">Home</a></li>
        <li><a href="#functionality">FUNCTIONALITY</a></li>
        <li><a href="#admin login">ADMIN LOGIN</a></li>
      </ul>
  </div>
</nav>

<header id="subject" class="jumbotron text-center">
 	<div class="container">
      	<h1>
      		<b>
       			<strong>
        			Delete A Compound
       			</strong>
      		</b>
    	</h1>
    
    <form class="form-inline" action="/">
  		<div class="form-group">
    		<input  class="form-control" id="search">
  		</div>
  			<button type="button" onClick="selectCompoundToDeleteBySearch()" class="btn btn-default">Search</button>
	</form> 
  </div>
</header>

 <div class="container-fluid">
  <div class="row content">
    <div class="col-lg-2">
      <ul class="nav nav-pills nav-stacked"> 
    	<div class="container">
			<a href="#compound" class="btn btn-link" data-toggle="collapse">Compound</a>
				<div id="compound" class="collapse">
					<button id="add_comp" type="button" onClick="getCompoundDatabaseToAdd()" class="btn btn-default">Add Compound</button>
    				<button id="delete_comp" type="button" onClick="getCompoundDatabaseToDelete()" class="btn btn-default">Delete Compound</button>
    			</div>
		</div>
         
         <div class="container">
			<a href="#gene" class="btn btn-link">Gene</a>
		</div>
			
		<div class="container">
			<a href="#reaction" class="btn btn-link">Reaction</a>
		</div>
		
		<div class="container">
			<a href="#metabolite" class="btn btn-link">Metabolite</a>
		</div>
         
         <div class="container">
			<a href="#model" class="btn btn-link">Model</a>
		</div>
			
		<div class="container">
			<a href="#stoichiometry" class="btn btn-link">Stoichiometry</a>
		</div>
		
		<div class="container">
			<a href="#link" class="btn btn-link">Link</a>
		</div>
			
		<div class="container">
			<a href="#family" class="btn btn-link">Family</a>
		</div>	 
	 </ul>    
    </div>
  
 
    
    <div id="compound_delete_one" class="col-lg-5">
    	<div class="container">
  			<form>
    			<div class="form-group">
      				<label id="compound_label" for="select_compounds">Compounds</label>
      					<select id="select_delete_compounds_dropdown" onchange="selectCompoundToDelete(value)" class="form-control">
       					 		<option id="select_compounds" th:each="compoundlist : ${listofcompounds}"  
       					 	     		th:value = "${compoundlist}" th:text="${compoundlist}">
       					 	     </option>
        				
      					</select>
    			</div>
  			</form>
		</div>
    </div>
    
    <div id="compound_delete_two" class="col-lg-5">  
  	  <form class="form-inline">    
 		 <div class="form-group">
 		 	<div class="col-lg-6 offset-lg-3">
    			<label for="BiggMetaboliteID">BiggMetaboliteID:</label>
    			<input type="text" class=" mb-sm-5 form-control" id="BiggMetaboliteID" th:value ="${compoundtodelete?.biggmetaboliteID}" readonly>
    		</div>
 		 </div>
 		 
 		 <div class="form-group">
  			<div class="col-lg-6 offset-lg-3">
    			<label for="Charge">Charge:</label>
    			<input type="text" class="form-control" id="Charge" th:value ="${compoundtodelete?.charge}" readonly>
    		</div>
  		</div>
  		
	  </form>
    
      <form class="form-inline">
 		 <div class="form-group">
 		 	<div class="col-lg-6 offset-lg-3">
    			<label for="Name">Name:</label>
    			<input type="text" class="form-control" id="Name" th:value ="${compoundtodelete?.name}" readonly>
    		</div>
 		 </div>
 		 
  		<div class="form-group">
  			<div class="col-lg-6 offset-lg-3">
    			<label for="InchiKey">InchiKey:</label>
    			<input type="text" class="form-control" id="InchiKey" th:value ="${compoundtodelete?.inchi_key}" readonly>
    		</div>
  		</div>
	</form>
	
	<form class="form-inline">
 		 <div class="form-group">
 		 	<div class="col-lg-6 offset-lg-3">
    			<label for="KeggCompound">KeggCompound:</label>
    			<input type="text" class="form-control" id="KeggCompound" th:value ="${compoundtodelete?.kegg_compound}" readonly>
    		</div>
 		 </div>
 		 
  		<div class="form-group">
  			<div class="col-lg-6 offset-lg-3">
    			<label for="SMILES">SMILES:</label>
    			<input type="text" class="form-control" id="smiles" th:value ="${compoundtodelete?.SMILES}" readonly>
    		</div>
  		</div>
	</form>
	
	<form class="form-inline">
 		 <div class="form-group">
 		 	<div class="col-lg-6 offset-lg-3">
    			<label for="PRIME">PRIME:</label>
    			<input type="text" class="form-control" id="prime" th:value ="${compoundtodelete?.PRIME}" readonly>
    		</div>
 		 </div>
	</form>
	
	<form class="form-inline">
 		 <div class="form-group">
 		 	<div class="col-lg-6 offset-lg-3">
    			<label for="Formula">Formula:</label>
    			<input type="text" class="form-control" id="Formula" th:value ="${compoundtodelete?.formula}" readonly>
    		</div>
 		 </div> 		
  		
  		<div class="form-group">
  			<div class="col-lg-6 offset-lg-4">
    			<label for="MetanixID">MetanixID:</label>
    			<input type="text" class="form-control" id="MetanixID" th:value ="${compoundtodelete?.metanetx_chemical}" readonly>
    		</div>
  		</div>
	</form>
 </div>
    
    <div id="delete_compound_database">
		<button type="button" onClick="getCompoundDatabaseToDelete()" class="btn btn-default"><b><strong>Clear</strong></b></button>
    	<button type="button" onClick="sendToBackEndToDeleteACompound()" class="btn btn-default">Delete</button>
  	</div>
    
    </div>
    
    </div>
    
  	
 </body>
</html>


