<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bioinformatics</title>
     <link th:href="@{/css/homepage.css}" rel="stylesheet" />
</head>

<body>

<h2>Sam and Hui's Project</h2>
<p>We Love Bioinformatics!!!</p>

<header>
 <img src="https://www.inquirer.com/resizer/034la0wxWdw-J37vhlrqfS2PYKU=/1400x932/smart/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/A6FYERLUBZCBFE5IH76OQXSNEM.jpg" 
 alt="Picture did not load" width="200" height="150"> 
  <h2>Metabolites</h2>
</header>

<section>  
   <nav>
    <p >Please enter text in first text bot and click button to change text displayed </p>
    <input class = "inputText" type = "text" id = "textInput1" onchange = "changeTextDisplayed()">
    <div class = "button1div">
        <button class = "button1" onClick = "changeTextDisplayed()" type="button">
           Change Text Displayed
        </button> 
    </div>
    <p th:text = "${sentFromBackend}"/>
           <input class = "inputText"type = "text"  id = "textInput2" ><br>
           <button class = "button1" onClick = "sendTextToBackend()">  Send Info To Backend </button>
  
   </nav>
  <article>
    <h1>Display User Input</h1>
    <p id = "displayedText" > type and press enter or click the button to change me</p>
  </article>
</section>

<footer>

</footer>
   
   <!--Some javascript functions -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script>
    //Using javascript to write a function to change the text displayed-
    function changeTextDisplayed() {
          
    	  var displayedText = document.getElementById("displayedText");
         
          var textInput1 = document.getElementById("textInput1");
          
          displayedText.innerHTML = textInput1.value;
          
    }
    
    //Javascript Function to send text from frontend to backend via a POST 
    //Request
    function sendTextToBackend(){
    	
    	var textInput2 = document.getElementById("textInput2");
    	
        $.post("/homepage",
        	    {
        	        textFromFrontend: textInput2.value,
        	    })
        	    alert('Sent "' + textInput2.value + '" to the backend!!!');
    }
    
    </script>
    
</body>

</html>